<ngv-form class="pure-form-stacked" ng-controller="SimpleFormCtrl">

    <ngv-messages>
        <ngv-error msgId="FN001" field="lastName" clientTrigger="required">You did not enter a last name</ngv-error>
        <ngv-error msgId="FN002" field="lastName">A person with this name already exists</ngv-error>
        <ngv-error msgId="FN003" field="lastName" clientTrigger="minlength">The last name must have a minimum of two
            characters
        </ngv-error>
        <ngv-error msgId="FN004" field="email" clientTrigger="required">Invalid email address</ngv-error>
        <ngv-error msgId="FN005" field="country" clientTrigger="required">Country is required</ngv-error>
    </ngv-messages>

    <div ngv-tab-container>

        <div ngv-tab-pane="First Tab">
            <div ngv-collapsible-panel="Input Widget Examples">
                <div class="pure-g">

                    <div class="pure-u-1 pure-u-md-1-3">
                        <label>Simple Input</label>
                        <input type="text" ngv-field name="firstName" ng-model="user.firstName" grab-focus>
                    </div>

                    <div class="pure-u-1 pure-u-md-1-3">
                        <label>Mandatory Input</label>
                        <input ngv-field name="lastName" type="text" ng-model="user.lastName" required ng-minlength="2">
                    </div>

                    <div class="pure-u-1 pure-u-md-1-3">
                        <label>Calendar</label>
                        <input ngv-calendar name="birthDate" type="date" ng-model="user.birthDate" required>
                    </div>

                    <div class="pure-u-1 pure-u-md-1-3">
                        <label>E-Mail</label>
                        <input ngv-field name="email" type="email" ng-model="user.email" required>
                    </div>

                    <div class="pure-u-1 pure-u-md-1-3">
                        <label>Dropdown</label>
                        <input>
                    </div>

                    <div class="pure-u-1 pure-u-md-1-3">
                        <label>Autocomplete</label>
                        <input ngv-autocomplete
                               options-command="findAllCountryRefData()"
                               empty-entry="please.select.city"
                               name="city"
                               ng-model="user.city"
                               required>
                    </div>

                    <div class="pure-u-1 pure-u-md-1-3">
                        <label>Numeric Field</label>
                        <input type="text" ngv-select name="gender" ng-model="user.gender"
                               options-command="findGenders()" required>
                    </div>

                    <div class="pure-u-1 pure-u-md-1-3">
                        <label>Amount Field</label>
                        <input type="text" ngv-select name="gender" ng-model="user.gender"
                               options-command="findGenders()" required>
                    </div>

                    <div class="pure-u-1 pure-u-md-1-3">
                        <label>Masked Field</label>
                        <input type="text" ngv-select name="gender" ng-model="user.gender"
                               options-command="findGenders()" required>
                    </div>

                    <div class="pure-u-1 pure-u-md-1-3">
                        <label>Dropdown</label>
                        <input ngv-dropdown
                               options-command="findAllCountryRefData()"
                               empty-entry="please.select.country"
                               name="country"
                               ng-model="user.country"
                               required>
                    </div>

                </div>
            </div>

            <div ngv-collapsible-panel="In-Place Editable Table">
                <div class="ngv-table">

                    <div class="table-commands">
                        <div class="table-buttons">
                            <button class="pure-button">Add</button>
                            <button class="pure-button">Delete</button>
                        </div>
                    </div>

                    <div>
                        <table class="pure-table pure-table-bordered">
                            <thead>
                            <th><input type="checkbox"></th>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Year</th>
                            <th>Color</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Mercedes</td>
                                <td>C-Class</td>
                                <td>2006</td>
                                <td>Blue</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Honda</td>
                                <td>Accord</td>
                                <td>2009</td>
                                <td>Red</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Toyota</td>
                                <td>Camry</td>
                                <td>2012</td>
                                <td>Yellow</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Hyundai</td>
                                <td>Elantra</td>
                                <td>2010</td>
                                <td>Green</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="ngv-paginator bottom-paginator">
                        <ul class="pure-paginator">
                            <li><a class="pure-button prev">«</a></li>
                            <li><a class="pure-button">1</a></li>
                            <li><a class="pure-button pure-button-selected">2</a></li>
                            <li><a class="pure-button">3</a></li>
                            <li><a class="pure-button next">»</a></li>
                        </ul>
                    </div>

                </div>
            </div>


        </div>

        <div ngv-tab-pane="More widgets">
            <div class="pure-g" ngv-collapsible-panel="Home Address">

                <div class="pure-u-1 pure-u-md-1-3">
                    <label>Street Name</label>
                    <input type="text" ng-model="user.firstName">
                </div>

                <div class="pure-u-1 pure-u-md-1-3">
                    <label>Street Number</label>
                    <input ngv-field name="streetNumber" type="text" ng-model="address.streetNumber" required
                           ng-minlength="2">
                </div>

                <div class="pure-u-1 pure-u-md-1-3">
                    <label>Text Area</label>
                    <textarea name="comments" type="text" ng-model="user.comments"></textarea>
                </div>

            </div>

        </div>

    </div>

    <div class="page-buttons-separator"></div>

    <div class="page-actions">
        <button class="pure-button" ngv-validate="validateSimpleForm()">Validate</button>
        <button type="submit" class="pure-button pure-button-primary">Save</button>
        <button type="reset" class="pure-button pure-button-tertiary">Cancel</button>

    </div>

</ngv-form>