
.nv-app nv-typeahead {

  &.ng-invalid .input, &.ng-pristine.ng-invalid .active .input {
    border: 1px solid #F64343;
    box-shadow: none;
  }

  &.ng-pristine .input {
    border: 1px solid $control-border-color;
  }

}