
.nv-app .select-one.typeahead {

  input[type="text"] {
    display: inline-block;
    border:none;
    box-shadow: none;
    width:145px;
    font-size: 1.1em;
    padding-top: 0;
    padding-bottom: 0;
    outline:none;
  }

}
