
.pure-skin-ngv div.select-one.dropdown {


  .input {


    span {
      white-space: nowrap;
      width: 150px;
      text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block;
    }


  }



}

