
.nv-app .select-one {

    .selection-list {
      font-family: $Condensed-Light;
        background-color: #ffffff;
        position: absolute;
        overflow-x: auto;
        border-radius: 4px;
        font-size: 0.8em;
        z-index: 100;
        @include widget-selection-box;

        @mixin disabled-item {
          &.disabled {
            background-image: none;
            color: #cad2d3;
            cursor: not-allowed;
            @include user-select(none);
          }
        }

        .selection-option {
            cursor: pointer;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 5px;
            
            &.highlighted {
                background-image: linear-gradient(to right bottom, $primary-light, $primary-lighter);
                color: #ffffff;
                @include disabled-item;
          }

          @include disabled-item;
        }
    }

    .selection-description {
      height: 100%;
      line-height:23px;
    }

}

