<nav class="left-menu">

    <div ngv-menu-slider></div>

    <div class="pure-menu pure-menu-open left-menu-wrapper">
        <ul ng-repeat="section in leftMenuSections"
            ngv-collapsible
            collapsed-class="collapsed-section"
            expanded-class="expanded-section"
            init-collapsed="false">
            <li class="collapsible-menu-section">
            <a ngv-collapsible-trigger
               class="pure-menu-heading">
            <div class="collapsible-icon"></div>
                    <span>{{::section.description}}</span>
            </a>
        </li>
            <div ngv-collapsible-section class="animate-collapsible">
            <li ng-repeat="entry in section.subEntries"
                    ng-class="{'pure-menu-selected': entry.selected}"
                    class="left-menu-entry">

                    <a ng-click="onEntryClicked(section, entry, $index)">
                        {{::entry.description}}
                    </a>

                </li>
            </div>
        </ul>

    </div>

</nav>

