<div>

    <div ngv-please-wait-dialog></div>

    <div class="pure-g ngv-left-menu-layout ">

        <div class="main pure-u-1">

            <header class="site-header main-block">
                <a href="#/"><img class="logo" ng-src="{{::logoHref}}"></a>
                <h1>{{::lbl['page.header']}}</h1>
            </header>

            <nav ngv-top-menu></nav>

            <div id='mainBlock' class="pure-g main-block">

                <nav id="leftMenu"
                     class="pure-u-lg-{{::page.menuLength}}-24  pure-u-1 {{::menu.resizable ? '' : 'left-menu-not-resizable'}}"
                     ngv-left-menu
                     style="width:{{leftMenuWidth}}px;"></nav>

                <main id='pageContent' class="pure-u-lg-{{::page.pageLength}}-24  pure-u-1"
                      style="width:{{pageContentWidth}}px">

                    <div class="pure-g page-content">

                        <nav ngv-breadcrumb></nav>

                        <div class="pure-u-1 page-title">
                            <h3>{{page.title}}</h3>
                            <hr>
                        </div>

                        <div class="pure-u-1 page-form">
                            <ng-view></ng-view>
                        </div>

                    </div>

                </main>
            </div>

        </div>

    </div>

    <div ng-include="footerHref"></div>

</div>
