
.nv-app .collapsible-panel {

  margin-bottom: 25px;

  .collapsible-panel-title {
    @include vertical-align-middle(22px);
    @include cancel-text-selection;
    font-family: $Regular;
    font-size: 18px;
    color: $secondary-darkest;
    cursor: pointer;
    i {
      vertical-align: middle;
      margin-bottom: 4px;
      margin-right: -5px;

      &.collapsed {
        @include rotate(-90deg);
      }
    }

  }

  .collapsible-panel-body {
      padding: 0 35px 10px 35px;
  }

}