
.block-panel {

  margin-top: 0.3em;

  .block-item {
    display: inline-block;
    vertical-align: middle;
    height: 6px;
    width: 6px;
    margin-right: 10px;
  }
  
  .block-panel-title {
    
  }
  
  .block-panel-content {
    margin-top: 10px;
  }
  
}