
.pure-skin-ngv .ngv-table {

  margin-top: 0.5em;
  $table-background-color: #D3E5F5;
  $table-commands-font-size: 13px;
  $table-border: 1px solid #A1C4E6;

  @mixin on-cell-hover {
    &:hover {
      background-color: #E1F0FF;
      cursor:pointer;
    }
  }

  .table-commands {
    margin-bottom: 0.3em;
    button.pure-button {
      font-size: 12px;
      background-color : $table-background-color;
      color:#0e2f4e;
      border: $table-border;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
    }

  }

  .ngv-paginator {

    $vertical-gap-with-grid: 0.6em;

    .pure-paginator {
      text-align: center;

      .pure-button {
        background-color: #f7f7f7;
        font-size: $table-commands-font-size;
        padding: 0.4em 0.75em;
        border-top: $tertiary-button-border;
        border-bottom: $tertiary-button-border;

        &.prev {
          border-left: $tertiary-button-border;
        }

        &.next {
          border-right: $tertiary-button-border;
        }

        &.pure-button-selected {
          color: $selected-color;
          background: $selected-background-gradient;
        }
      }
    }

    &.bottom-paginator {
      margin-top: $vertical-gap-with-grid;
    }

  }

  table {
    table-layout: fixed;
    width: 100%;
    border-radius: 4px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.15);

    $table-cells-border-color: #C0D9F2;
    $table-outer-border-radius: 4px;

    border: none;
    border-collapse: separate;

    td, th {
      border-left-color: $table-cells-border-color;
    }

    th {
      background-color: $table-background-color;
      font-weight: bold;
      padding: 0.3em 0.6em;
      font-size: 15px;
      border-top: $table-border;
      border-bottom-style: solid;
      border-bottom-color: #B8CBED;
      border-bottom-width: 2px;

      &:first-child {
        width: 1.1em;
        border-left: $table-border;
        border-top-left-radius: $table-outer-border-radius;
      }

      &:last-child {
        border-right: $table-border;
        border-top-right-radius: $table-outer-border-radius;
      }


    }

    tr td {
      background-color: rgba(146, 164, 250, 0.03);
      border-bottom-color: $table-cells-border-color;

      @include on-cell-hover;

      &:first-child {
        border-left: $table-border;
      }

      &:last-child {
        border-right: $table-border;
      }
    }

    tr:nth-child(2n-1) td {
      background-color: rgba(146, 164, 250, 0.03);
      @include on-cell-hover;
    }

    tr:last-child {

      td {
        border-bottom: $table-border;
      }

      td:first-child {
        border-bottom-left-radius: $table-outer-border-radius;
      }
      td:last-child {
        border-bottom-right-radius: $table-outer-border-radius;
      }
    }

  }
  
}


