
.pure-skin-ngv .ngv-table {
  
  table {
    table-layout: fixed;
    width: 100%;
    
    th {
      background-color: #f3f3f3;
      border: 1px solid #cbcbcb;
      border-bottom-width: 2px;
    }
    
    tr td {
      background-color: #edf6fd;
    }

    tr:nth-child(2n-1) td {
      background-color: #f8fbfe;
    }

  }
  
}