.nv-app .btn {

  color: $secondary-darkest;
  @include paper-element;
  border:none;
  font-family: $Light;
  border-radius: 4px;
  outline: none;

  &:hover {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.05));
  }

  @include active-button;

  &.btn-primary {
    color: $lightest-text;
    background-color: $primary-color;

  }

  &.btn-secondary {
    color: $darkest-text;
    background-color: $primary-lightest;
  }

  &.btn-tertiary {
    color: $darkest-text;
    background-color: $lightest-text;
  }

  &.btn-medium {
    height: 27px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    @include light-paper-element;
    @include active-button;
  }



}