.nv-app .btn {

  @include paper-element;
  border:none;
  font-family: $Light;
  border-radius: 4px;
  outline: none;

  &.btn-primary {
    color: $lightest-text;
    background: $primary-color;

  }

  &.btn-secondary {
    color: $darkest-text;
    background: $primary-lightest;
  }

  &.btn-tertiary {
    color: $darkest-text;
    background: $lightest-text;
  }


}