
.nv-app .collapsible-panel {

  margin-bottom: 30px;

  .collapsible-panel-title {
    @include vertical-align-middle(25px);
    font-family: $Regular;
    cursor: pointer;
    i {
      vertical-align: middle;
      margin-bottom: 4px;
      margin-right: -2px;
    }

  }

  .collapsible-panel-body {
      padding: 0 35px 10px 35px;
  }

}