
.nv-app .datepicker {

  .calendar-button {
    svg {
      fill: $icon-dark-color;
      height: 12px;
      vertical-align: middle;
      margin-left: 1px;
      margin-bottom: 3px;
    }
  }

  .calendar-panel {
    position: absolute;
    z-index:10;
    @include paper-element;
    font-family: $Light;
    border-radius: 4px;


  }

  .calendar-title {
    background: $primary-lightest;
  }

  .calendar-body {
    background: $secondary-lightest;

  }


}