
.nv-app .datepicker {

  .calendar-button {
    svg {
      fill: $icon-dark-color;
      height: 12px;
      vertical-align: middle;
      margin-left: 2px;
      margin-bottom: 3px;
    }
  }

  .calendar-panel {

  }

}