
.nv-app .datepicker {

  .calendar-button {
    svg {
      fill: $icon-dark-color;
      height: 12px;
      vertical-align: middle;
      margin-left: 1px;
      margin-bottom: 3px;
    }
  }

  .calendar-panel {
    position: absolute;
    z-index:15;
    @include paper-element;
    font-family: $Light;
    font-size: 15px;
    width: 290px;
    background: $secondary-lightest;
  }

  .calendar-title {
    font-family: $Regular;
    color: $secondary-darkest;
    @include vertical-align-middle(25px);
    text-align: center;
    background: $primary-lightest;
    cursor: pointer;
  }

  .calendar-body {
    padding: 0;
    table {
      table-layout: fixed;
      width: 100%;
      text-align: center;
      th {
        font-family: $Condensed-Bold;
        font-size: 12px;
      }
      td , th {
        padding: 6px;
        border: 1px solid $secondary-dark;
      }
      td {
        cursor: pointer;
        font-size: 14px;
      }
    }

  }


}