@mixin dropdown-menu {

  $item-height: 30px;
  $dropdown-width: 150px;

  .layout-dropdown-menu {
    position: relative;
    @include paper-element;
    z-index: 10;
    width: 150px;
    background: $light;
    font-family: $Roboto-Light;
    position: absolute;
    ul {
      padding-left:0;
      li {
        font-size: 13px;
        display: block;
        text-transform: none;
        padding-left:10px;
        padding-right: 5px;
        margin: 0;
        @include vertical-align-middle($item-height);

        &:hover {
          a {
            color: $lightest-text;
            opacity: 1;
          }
          i {
            color: $lightest-text;
          }
          background: $primary-color;
        }

        i {
          vertical-align: middle;
          float: right;
          line-height: $item-height;
          font-size: 18px;
        }

      }
    }
    a {
      color: $darkest-text;
      display: inline-block;
    }

    &.slided {
      position: absolute;
      left: $dropdown-width;
      margin-top: -1 * $item-height;
    }

  }
}