@mixin dropdown-menu {
  .layout-dropdown-menu {
    @include paper-element;
    z-index: 10;
    width: 150px;
    background: $light;
    font-family: $Roboto-Light;
    position: absolute;
    ul {
      padding-left:0;
      li {
        @include vertical-align-middle(30px);
        font-size: 13px;
        display: block;
        text-transform: none;
        padding-left:10px;
        padding-right: 10px;
        margin: 0;

        &:hover {
          a {
            color: $lightest-text;
            opacity: 1;
          }
          background: $primary-color;
        }

      }
    }
    a {
      color: $darkest-text;
    }
  }
}