
@mixin dropdown-icon($item-height) {
  i {
    vertical-align: middle;
    float: right;
    line-height: $item-height;
    font-size: 18px;
  }
}



@mixin dropdown-menu($dropdown-width: 150px, $item-height: 30px) {

  .layout-dropdown-menu {
    background: $lightest-text;
    position: relative;
    @include paper-element;
    z-index: 10;
    width: $dropdown-width;
    font-family: $Light;
    position: absolute;
    ul {
      padding-left:0;
      li {
        font-size: 13px;
        display: block;
        text-transform: none;
        padding-left:10px;
        padding-right: 5px;
        margin: 0;
        @include vertical-align-middle($item-height);

        &:hover {
          a {
            color: $darkest-text;
            opacity: 1;
          }
          i {
            color: $lightest-text;
          }
          background: $secondary-light;
        }
        @include dropdown-icon($item-height);
      }
    }
    a {
      color: $darkest-text;
      display: inline-block;
    }

    &.slided {
      position: absolute;
      left: $dropdown-width;
      margin-top: -1 * $item-height;
    }

  }
}