

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.nv-icon {
  color: $secondary-darker;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Roboto-Black";
  src: url(../fonts/Roboto-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-BlackItalic";
  src: url(../fonts/Roboto-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-BoldItalic";
  src: url(../fonts/Roboto-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Italic";
  src: url(../fonts/Roboto-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-LightItalic";
  src: url(../fonts/Roboto-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-MediumItalic";
  src: url(../fonts/Roboto-MediumItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Thin";
  src: url(../fonts/Roboto-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-ThinItalic";
  src: url(../fonts/Roboto-ThinItalic.ttf) format("truetype");
}

@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url(../fonts/RobotoCondensed-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "RobotoCondensed-BoldItalic";
  src: url(../fonts/RobotoCondensed-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "RobotoCondensed-Italic";
  src: url(../fonts/RobotoCondensed-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "RobotoCondensed-Light";
  src: url(../fonts/RobotoCondensed-Light.ttf) format("truetype");
}

@font-face {
  font-family: "RobotoCondensed-LightItalic";
  src: url(../fonts/RobotoCondensed-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url(../fonts/RobotoCondensed-Regular.ttf) format("truetype");
}

$Black:'Roboto-Black','Helvetica','Arial',sans-serif;
$BlackItalic:'Roboto-BlackItalic','Helvetica','Arial',sans-serif;
$Bold:'Roboto-Bold','Helvetica','Arial',sans-serif;
$BoldItalic:'Roboto-BoldItalic','Helvetica','Arial',sans-serif;
$Light: 'Roboto-Light','Helvetica','Arial',sans-serif;
$LightItalic: 'Roboto-LightItalic','Helvetica','Arial',sans-serif;
$Italic:'Roboto-Italic','Helvetica','Arial',sans-serif;
$Medium: 'Roboto-Medium','Helvetica','Arial',sans-serif;
$MediumItalic: 'Roboto-MediumItalic','Helvetica','Arial',sans-serif;
$Regular: 'Roboto-Regular','Helvetica','Arial',sans-serif;
$Thin: 'Roboto-Thin','Helvetica','Arial',sans-serif;
$ThinItalic: 'Roboto-ThinItalic','Helvetica','Arial',sans-serif;
$Condensed-Bold: 'RRobotoCondensed-Bold','Helvetica','Arial',sans-serif;
$Condensed-BoldItalic: 'RRobotoCondensed-BoldItalic','Helvetica','Arial',sans-serif;
$Condensed-Italic: 'RRobotoCondensed-Italic','Helvetica','Arial',sans-serif;
$Condensed-Light: 'RRobotoCondensed-Light','Helvetica','Arial',sans-serif;
$Condensed-LightItalic: 'RRobotoCondensed-LightItalic','Helvetica','Arial',sans-serif;
$Condensed-Regular: 'RRobotoCondensed-Regular','Helvetica','Arial',sans-serif;