.nv-app .nv-form {

  &.nv-form-labels-on-top {
    label {
      font-family: $Condensed-Light;
      font-size: 15px;
      color: $secondary-darkest;
      display: inline-block;
      margin-bottom: 2px;
      margin-top: 22px;
    }
    input {
      display: block;
    }
  }

  .form-actions {
    padding-top: 20px;
    padding-bottom: 20px;
    .btn {
      height: 40px;
      padding: 0.5em 1.5em 0.5em;
      margin-right: 5px;
    }
  }

}