/**
*
*  fluid grid system - see http://purecss.io/tools/
*
*/

.nv-app {

  .nv-1,
  .nv-1-1,
  .nv-1-2,
  .nv-1-3,
  .nv-2-3,
  .nv-1-4,
  .nv-3-4,
  .nv-1-6,
  .nv-5-6,
  .nv-1-8,
  .nv-3-8,
  .nv-5-8,
  .nv-7-8,
  .nv-1-12,
  .nv-5-12,
  .nv-7-12,
  .nv-11-12,
  .nv-1-24,
  .nv-2-24,
  .nv-3-24,
  .nv-4-24,
  .nv-5-24,
  .nv-6-24,
  .nv-7-24,
  .nv-8-24,
  .nv-9-24,
  .nv-10-24,
  .nv-11-24,
  .nv-12-24,
  .nv-13-24,
  .nv-14-24,
  .nv-15-24,
  .nv-16-24,
  .nv-17-24,
  .nv-18-24,
  .nv-19-24,
  .nv-20-24,
  .nv-21-24,
  .nv-22-24,
  .nv-23-24,
  .nv-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .nv-1-24 {
    width: 4.1667%;
  }

  .nv-1-12,
  .nv-2-24 {
    width: 8.3333%;
  }

  .nv-1-8,
  .nv-3-24 {
    width: 12.5000%;
  }

  .nv-1-6,
  .nv-4-24 {
    width: 16.6667%;
  }

  .nv-5-24 {
    width: 20.8333%;
  }

  .nv-1-4,
  .nv-6-24 {
    width: 25%;
  }

  .nv-7-24 {
    width: 29.1667%;
  }

  .nv-1-3,
  .nv-8-24 {
    width: 33.3333%;
  }

  .nv-3-8,
  .nv-9-24 {
    width: 37.5000%;
  }

  .nv-5-12,
  .nv-10-24 {
    width: 41.6667%;
  }

  .nv-11-24 {
    width: 45.8333%;
  }

  .nv-1-2,
  .nv-12-24 {
    width: 50%;
  }

  .nv-13-24 {
    width: 54.1667%;
  }

  .nv-7-12,
  .nv-14-24 {
    width: 58.3333%;
  }

  .nv-5-8,
  .nv-15-24 {
    width: 62.5000%;
  }

  .nv-2-3,
  .nv-16-24 {
    width: 66.6667%;
  }

  .nv-17-24 {
    width: 70.8333%;
  }

  .nv-3-4,
  .nv-18-24 {
    width: 75%;
  }

  .nv-19-24 {
    width: 79.1667%;
  }

  .nv-5-6,
  .nv-20-24 {
    width: 83.3333%;
  }

  .nv-7-8,
  .nv-21-24 {
    width: 87.5000%;
  }

  .nv-11-12,
  .nv-22-24 {
    width: 91.6667%;
  }

  .nv-23-24 {
    width: 95.8333%;
  }

  .nv-1,
  .nv-1-1,
  .nv-24-24 {
    width: 100%;
  }

  .nv-grid {
    letter-spacing: -.31em;
  }

}

