@keyframes loading-indicator-rotate {
  to { transform: rotate(360deg) }
}

.nv-app {

  .click-blocking-barrier {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    z-index: -10000;

    &.active {
      display: block;
      z-index: 2000;
    }

    &.active.wait-ongoing {
      background: rgba(0, 0, 0, 0.35);
    }

  }

  .overlay.please-wait-dialog {
      z-index: 2100;
      background-color: white;
      @include set-size-and-center(320px, 170px);
  }

  .loading-indicator {
      position: absolute;
      @include set-size-and-center(59px, 59px);
      background-image: url("../images/loading-indicator.gif");
      background-size: 400px;
      background-repeat: no-repeat;
      background-position: -250px -98px;
  }

}

