
.nv-app {

  .layout-header {
    background: $primary-color;

    @include vertical-align-middle(90px);
    padding:10px;

    .layout-title {
      @include font-Roboto(white, 25px);
      margin-left: 10px;
      text-shadow: 1px 1px black;
    }

    .layout-logo {
      height: 65px;
      vertical-align: middle;
      margin-bottom: 5px;
    }

  }


}