
.nv-app {

  background: $light;

  .layout-header {
    background: $primary-color;

    @include vertical-align-middle(80px);
    padding:10px;

    .layout-title {
      font-family: $Roboto-Regular;
      font-size:26px;
      color: $lightest-text;
      margin-left: 15px;
    }

    .layout-logo {
      height: 55px;
      vertical-align: middle;
      margin-bottom: 5px;
    }
  }

  .layout-top-menu {
    background-color: $darker;
    height: 39px;
    line-height: 35px;
    vertical-align: middle;
    @include dropdown-menu;

    ul {
      margin-top: 0;
      margin-bottom: 0;
      li {
        cursor: pointer;
        display: inline-block;
        list-style-type: none;
        margin-left: 10px;
        margin-right: 10px;
        font-family: $Roboto-Light;
        font-size: 14px;
        text-transform: uppercase;

        a {
          color: $lightest-text;
          opacity: .75;
          text-decoration: none;

          &:hover {
            opacity: 1;
            font-weight: bold;
          }

        }

        &.selected {
          border-bottom: 4px solid #18FFFF;
          a {
            opacity: 1;
          }
        }
      }
    }
  }

  .layout-content {
    display: flex;
  }

  .layout-left-menu {
    display: inline-block;
    vertical-align: top;
    background: $lightest;
    $menu-width: 200px;
    $item-height: 32px;
    width: $menu-width;
    @include paper-element;
    @include dropdown-menu(150px);
    font-family: $Roboto-Light;
    font-size: 14px;
    ul {
      list-style-type: none;
      padding-left: 0px;
      li {
        line-height: $item-height;
        padding-left: 30px;
        padding-right: 5px;
        cursor: pointer;
        @include dropdown-icon($item-height);

        &:hover {
          a {
            color: $lightest-text;
          }
          background: $primary-color;
          i {
            color: $lightest-text;
          }
        }

        &.selected {
          a {
            color: $primary-color;
          }
          font-family: $Roboto-Bold;
          font-size: 15px;
        }

        &.selected:hover {
          a {
            color: $lightest-text;
          }
        }

      }
    }
    a {
      color: $dark-text;
      text-decoration: none;
    }

    .layout-dropdown-menu{
      ul {
        li {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
      &.first-slide-menu.slided {
        left: 200px;
      }

    }

  }

  .layout-main {
    margin-left: 5px;
    display: inline-block;
    background: $light;
  }

}