
.nv-app .messages {

  .messages-panel {
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 5px 5px 5px 10px;
    @include light-paper-element;
    border-top: 1px solid $secondary-lightest;
    border-left: 1px solid $secondary-lightest;

  }

  .messages-panel-icons {
    display: inline-block;
    vertical-align: top;
    i {

    }
  }

  .messages-list {
    display: inline-block;
    font-family: $Condensed-Light;
    font-size: 13px;
  }

  .message-icon {
    float: left;
    font-size: 32px;
  }

  .messages-error {
    color: $error-text;
    background: $error-background;
    i {
      color: $error-text;
    }
  }

  .messages-warning {
    color: $warning-text;
    background: $warning-background;
    i {
      color: $warning-text;
    }
  }

  .messages-info {

  }

}