
.nv-app .overlay {
    $border-radius: 4px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.47);
    z-index: 20;
    position: absolute;
    left: 0;
    top: 0;
    font-family: $Light;

    .overlay-content {
        $width: 700px;
        width: $width;
        @include center-horizontal-known-width($width);
        border-radius: $border-radius;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include paper-element;
        background: $secondary-lighter;
        padding: 20px;
    }

    .overlay-header {
        color: $secondary-darkest;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        @include vertical-align-middle(30px);
        font-size: 21px;
        hr {
            margin-top: 0;
        }
    }

    .overlay-body {
        padding: 30px 20px 20px 20px;

        .data-table, .form-actions {
            text-align: left;
        }
    }

}