
.nv-app .overlay {

    @include set-size-and-center(400px, 400px);
    border-radius: 4px;
    position: absolute;
    @include paper-element;
    background: $secondary-lighter;
    z-index: 20;


}