.nv-app .pager {

  margin-top: 10px;

  .pager-btn {
    border-radius: 5px;
    cursor: pointer;
    $button-height: 19px;
    $button-padding: 2px;
    padding: $button-padding;

    @include vertical-align-middle($button-height);

    display: inline-block;

    i {
      color: $icon-dark-color;
      line-height: $button-height;
    }

    &.pager-btn-nav {
      width: 24px;
      i {
        font-size: 18px;
      }
      background: $primary-lightest;
    }

    &.pager-btn-first {
      i:last-child {
        margin-left: -18px;
      }
    }

    &.pager-btn-last {
      i:last-child {
        margin-left: -18px;
      }
  }

    &.pager-btn-nbr {
      color: $secondary-darkest;
      padding-left: 5px;
      padding-right: 5px;
    }

  }

}