.nv-app .pager {

  margin-top: 10px;

  .pager-btn {
    border-radius: 4px;


    @include vertical-align-middle(25px);

    display: inline-block;

    i {

      @include vertical-align-middle(25px);
    }

    &.pager-btn-nav {
      background: $primary-lightest;
    }

    &.pager-btn-first {
      i:last-child {
        margin-left: -20px;
      }
    }

    &.pager-btn-nbr {
      color: $secondary-darkest;
      padding-left: 5px;
      padding-right: 5px;
    }

  }

}