.nv-app .tab-container {

  .tab-container-buttons {
      @include vertical-align-middle(35px);
      padding-left: 0;
      margin-bottom: 0;
      li {
        font-size: 12px;
        font-family: $Light;
        text-transform: uppercase;
        display: inline-block;
        list-style-type: none;
        cursor: pointer;
        margin-right: 10px;
      }
  }

  .tab-container-body {
    @include paper-element;
    display: inline-block;
    width: 100%;

  }

}