.nv-app .tab-container {

  .tab-container-buttons {
      @include vertical-align-middle(30px);
      padding-left: 0;
      margin-bottom: 0;
      li {
        @include selected-tab;

        &.selected {
          background: $primary-color;
          color: $lightest-text;
        }

        border: 1px solid rgba(0,0,0,.14);
        margin-right: -3px;
        font-size: 12px;
        font-family: $Light;
        text-transform: uppercase;
        display: inline-block;
        list-style-type: none;
        cursor: pointer;
        padding-left: 10px;
        padding-right: 10px;
      }
  }

  .tab-container-body {
    @include paper-element;
    display: inline-block;
    width: 100%;
    margin-top: 5px;

  }

}