
.nv-app .data-table {


  .data-table-title {
    letter-spacing: normal;
    font-family: $Regular;
    font-size: 18px;
    i {
      font-size: 13px;
    }
    border-bottom: 10px;
  }

  & > table {
    background: $lightest-text;
    border-radius: 2px;
    font-family: $Light;
    table-layout: fixed;
    display: table;
    margin-top: 5px;
    $vertical-cell-padding: 12px;
    $horizontal-cell-padding: 18px;


    @include paper-element;



    & > thead {
      text-align: left;
      border-bottom: 1px solid $secondary-dark;
      th {
        padding: $vertical-cell-padding $horizontal-cell-padding $vertical-cell-padding $horizontal-cell-padding;
      }
    }

    & > tbody {

      & > tr {
        border-bottom: 1px solid $secondary-dark;

        td {
          padding: $vertical-cell-padding $horizontal-cell-padding $vertical-cell-padding $horizontal-cell-padding;
        }
      }

    }

  }



}