
.nv-app .data-table {

  letter-spacing: normal;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  .data-table-header {
    @include vertical-align-middle(25px);
    margin-bottom: 11px;
    letter-spacing: normal;
    font-family: $Regular;
    font-size: 18px;
    span {
      vertical-align: bottom;
    }
    i {
      font-size: 13px;
    }

    .data-table-buttons {
      margin-left: 15px;
      display: inline-block;
      font-family: $Light;
      font-size: 14px;
      .btn {
        height: 27px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 5px;
        @include light-paper-element;
        @include active-button;
      }
    }

  }

  .data-table-body {
    padding-right: 20px;
    & > table {
      $border-radius: 4px;
      background: $lightest-text;
      border-radius: $border-radius;
      font-family: $Light;
      table-layout: fixed;
      display: table;
      margin-top: 5px;
      $vertical-cell-padding: 8px;
      $horizontal-cell-padding: 14px;
      @include paper-element;
      $first-child-padding-left: 25px;


      & > thead {
        text-align: left;
        border-bottom: 1px solid $secondary-dark;

        tr:hover {
            background: $secondary-hover;
        }

        th {

          padding: $vertical-cell-padding $horizontal-cell-padding $vertical-cell-padding $horizontal-cell-padding;


          &:first-child {
            padding-left: $first-child-padding-left;
            border-top-left-radius: $border-radius;
          }
          &:last-child {
            border-top-right-radius: $border-radius;
          }

        }
      }

      & > tbody {

        & > tr {
          border-bottom: 1px solid $secondary-dark;
          
          &:hover {
            background: $secondary-hover;
          }

          td {
            padding: $vertical-cell-padding $horizontal-cell-padding $vertical-cell-padding $horizontal-cell-padding;
            &:first-child {
              padding-left: $first-child-padding-left;
            }
          }

          &:last-child {
            &:first-child {
              border-bottom-left-radius: $border-radius;
            }
            &:last-child {
              border-bottom-right-radius: $border-radius;
            }

          }
        }

      }

    }
  }

  .data-table-footer {
    text-align: center;
  }

}