
$primary-color: rgb(63,81,181);
$primary-darker: #3243A1;
$primary-darkest: #2035A7;


$primary-light: #0078e7;
$primary-lighter: #3c71f7;
$primary-lightest: #B8C7F2;
$popup-light: #EAEBF2;

$lightest-text: white;

$secondary-darkest: #000000;
$secondary-even-darker: #757575;
$secondary-darker: #b9bbbb;
$secondary-dark: rgba(0, 0, 0, 0.117647);
$secondary-light: #DADADA;
$secondary-hover: #eee;
$secondary-lighter: #d1d1d1;
$secondary-even-lighter: #FAFAFA;
$secondary-lightest: white;

$control-border-color: #cccccc;

$error-text: #a94442;
$error-background: #f2dede;
$warning-text: #8a6d3b;
$warning-background: #fcf8e3;

$info-text: #31708f;
$info-background: #d9edf7;

$icon-dark-color: rgba(34, 70, 135, 1);

$control-border: 1px solid $secondary-even-darker;

//TODO remove this
.layout-dropdown-menu {
  display: none !important;
}

//TODO
.please-wait-dialog {
  display: none !important;
}

//TODO
.click-blocking-barrier {
  display: none !important;
}

//TODO
.overlay {
  display: none !important;
}


//TODO
.messages {
  display: none !important;
}

//TODO
.datepicker .calendar-panel {
  display: none !important;
}

//TODO
nv-top-menu {
  display: none !important;
}




