
$primary-color: rgb(63,81,181);
$primary-darker: #3243A1;
$primary-darkest: #2035A7;
$primary-lightest: #A0C8F2;

$icon-color: #757575;

$lightest-text: white;
$dark-text: rgba(0,0,0,.66);
$darkest-text: black;


$light: #DFDFDF;
$lighter: #FAFAFA;
$lightest: white;



//TODO remove when menus become directives
.layout-dropdown-menu {
  display: none;
}



