
.pure-skin-ngv div.calendar {
  
    .calendar-button {
      display: inline-block;
      vertical-align: top;
      height: 100%;
      @include border-box;
      background-image: url('/ngv/images/calendar.png');
      background-position: center 9px;
      background-size: 8.5px;
    }
  
  .date-picker {
      position: absolute;
      z-index: 10;
      background: #ffffff;
      border-radius: 2px;
      @include widget-selection-box;

    td {
        padding: 0.3em;
        text-align: center;
        font-size: 82%;
        cursor: pointer;
      }

      th {
        padding: 0.3em;
        text-align: center;
        font-size: 80%;
      }

  }

}

