[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.horizontally-centered {
    margin: 0 auto;
}

.vertically-centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.positioned {
    position: relative;
}

.visible {
  visibility: visible !important;
}

.click-blocking-barrier {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    z-index: -10000;

    &.active {
      display: block;
      z-index: 10000;
    }

    &.active.wait-ongoing {
      background: rgba(0, 0, 0, 0.5);
    }

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pure-skin-ngv div.ngv-input {
    display: inline-block;
    height: 27px;
    @include border-box;

    input[type="text"] {
        display: inline-block;
        vertical-align: top;
        border-radius: 4px 0 0 4px;
        border-right-width: 0;
        margin: 0;
        height: 100%;
        @include border-box;

        &:focus {
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        }
    }
  
    .widget-button {
        background-repeat: no-repeat;
        height: 100%;
        width: 26px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        background-color: #A0C8F2;
        border-width: 1px;
        border-style: solid;
        border-color: #cccccc;
        border-left-width: 0;
        border-radius: 0 4px 4px 0;
        margin: 0 0 0 -5px;
        @include border-box;

        &.active {
            border-color:#129FEA;
            box-shadow: 1px 0 5px rgba(102, 175, 233, 0.6);
        }

        &:hover {
           background-color: #96bbde;
        }

        &:active {
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.20) inset;
          border: 1px solid dimgrey;
        }
    }
}

@mixin widget-selection-box {
  border: 1px solid darkgrey;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.15), -3px 5px 15px rgba(0, 0, 0, 0.15);

}
