.page-actions {
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.pure-skin-ngv .pure-form .page-actions button {
    font-size: 107%;
}

.page-actions {
    margin-left: 13em;
}

.pure-skin-ngv .page-buttons-separator {
    margin-top: 1em;
    background: url(/ngv/images/form-footer-bg.gif) no-repeat;
    height: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
}

.pure-skin-ngv .pure-form .page-actions button {
    margin-left: 5px;
    box-shadow: 0 1px 3px rgba(64, 64, 64, 0.5);
}

.pure-skin-ngv .pure-form .page-actions button:active,
.pure-skin-ngv .pure-form .page-actions button.pure-button-tertiary:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.20) inset;
}

.pure-skin-ngv .pure-form .page-actions button.pure-button-tertiary {
    box-shadow: none;
}

.pure-skin-ngv .pure-button.pure-button-tertiary {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
