
.pure-skin-ngv div.select-one {

    .selection-list {
        background-color: #ffffff;
        position: absolute;
        overflow-y: scroll;
        overflow-x: auto;
        border-radius: 4px;
        border: 1px solid darkgrey;
        font-size: 0.8em;
        box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.15), -3px 5px 15px rgba(0, 0, 0, 0.15);
        z-index: 100;

        .selection-option {
            cursor: pointer;
            padding-top: 3px;
            padding-bottom: 1px;
            padding-left: 5px;
            height: 18px;
            
            &.selected {
                background-image: linear-gradient(to right bottom, #3c71f7, #0078e7);
                color: #ffffff;
          }
        }
    }

    .dropdown-button {
      background-image: url('/ngv/images/dropdown.png');
      background-position: center 8px;
      background-size: 14px 10px;
    }

    .autocomplete-button {
      background-image: url('/ngv/images/autocomplete.png');
      background-size:  18px;
      background-position: center 3.5px;
    }

    .selection-description {
      height: 100%;
      line-height:19px;
    }

}

