.pure-skin-ngv .pure-form .form-messages {
    -webkit-transition: 0.2s ease-in-out -webkit-opacity;
    -moz-transition: 0.2s ease-in-out -moz-opacity;
    -ms-transition: 0.2s ease-in-out opacity;
    -o-transition: 0.2s ease-in-out opacity;
    transition: 0.2s ease-in-out opacity;
    transition-delay: 0s;
    opacity: 0;
}

.pure-skin-ngv .pure-form.messages-visible .form-messages {
    opacity: 1;
}

.pure-skin-ngv .pure-form.messages-visible input.ng-invalid {
    border-color: #e9322d;
    background-color: #fef8f6;
}

.form-messages .errors {
    color: #e9322d;
    font-size: 0.8em;
    background-color: #fbe8e5;
    border-radius: 4px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.message-icon {
    margin-left: 0.8em;
    display: inline-block;
    height: 30px;
}

.messages-group {
    display: inline-block;
    vertical-align: top;
    padding-top: 0.1em;
}

.client-messages {
    color: #e9322d;
    font-size: 70%;
    font-weight: lighter;
    position: absolute;
}

.pure-skin-ngv ngv-form.pure-form-stacked label {
    margin-top: 1em;
    margin-bottom: 0.1em;
}

ngv-messages {
    display: none;
}